html, body { height:100%;}
section{
    height:100%;
    /*background:#DDD;*/
    display: flex; /* section is a flexbox container*/
    flex-direction: column;
}

article{
    flex-grow:1;
   overflow: scroll;
}

#message{
    background: white;
    padding:5px 15px;
    box-sizing: border-box;
}

.messageBox{
    padding:0 15px;
}

li.collection-header{
    background: #FDD !important;
}
ul.collection{margin-top:0;}


#nickModal{padding-bottom:20px;}